asgiref==3.9.1
bcrypt==4.2.0
black==25.1.0
cffi==2.0.0
click==8.3.3
cryptography==43.0.0
Django==6.0.2
Markdown==3.7
mypy_extensions==1.1.0
mysqlclient==2.2.4
packaging==26.2
pathspec==1.1.1
pillow==11.1.0
platformdirs==4.9.6
pycparser==3.0
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2025.1
sqlparse==0.5.3
ulid==1.1
djangorestframework==3.15.2
